.section {
  text-align: center;
}
.section .bg {
  background: inherit;
  position: absolute;
  height: 100%;
  top: 0;
  left: -15%;
  right: 0;
  width: 130%;
}
.section i {
  text-decoration: none;
  padding-right: 0.5em;
}
.content {
  z-index: 99;
  position: relative;
  margin-left: 20%;
  margin-right: 20%;
  text-align: left;
}
#section1 {
  vertical-align: center;
}
#section1 #logo {
  display: block;
  margin: 0 auto;
}
#section1 h1 {
  font-family: Montserrat;
  color: #001F5B;
  font-size: 50px;
  text-align: center;
}
#section1 p {
  font-family: Montserrat;
  color: #001F5B;
  text-align: center;
  font-size: 35px;
}
#section2 .bg {
  background: #ffffff;
}
#section2 .content {
  text-align: center;
}
#section2 .content h1 {
  color: #001F5B;
}
#section2 #officers {
  margin-left: 10%;
  margin-right: 10%;
}
#section2 h1,
#section2 h3,
#section2 p {
  font-family: Montserrat;
  color: #001F5B;
  color: white;
}
#section3 {
  text-align: center;
}
#section3 .bg {
  background: #ffffff;
}
#section3 .content {
  text-align: center;
}
#section3 .content h1 {
  color: #001F5B;
}
#section3 h1,
#section3 h2,
#section3 p {
  font-family: Montserrat;
  color: #001F5B;
  text-align: center;
}
#section3 h1 {
  font-size: 40px;
}
#section3 h2 {
  font-size: 30px;
}
#section3 p {
  font-size: 25px;
}
.officer {
  z-index: 99;
  width: 300px;
  height: 400px;
  background: #001F5B;
  padding: 10px;
  position: relative;
  display: inline-block;
  margin: 20px 20px 20px 20px;
}
.officer .headshot {
  width: 300px;
  height: 400px;
  position: absolute;
  display: block;
}
.officer .info {
  width: 300px;
  height: auto;
  visibility: hidden;
  position: absolute;
  display: block;
  color: white;
  text-align: center;
}
.officer:hover .headshot {
  visibility: hidden;
}
.officer:hover .info {
  visibility: visible;
}
