.events {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 16vw;
    margin-top: 4vw;
    flex-direction: column;
}

@media all and (min-width: 768px) {
    .event {
        display:-webkit-box;
        display: -ms-flexbox;
        display: flex
    }
}

@media all and (min-width: 1281px) {
    .event {
        width:48.38709677%;
    }
}

.event-portrait {
    width: 80%;
    max-width: 300px;
    height: auto;
    margin-bottom: 40px;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

@media all and (min-width: 768px) {
    .event-portrait {
        width:28.88888889%;
        margin-bottom: 0;
        margin-right: 6.66666667%
    }
}

.event-portrait img {
    width: 100%
}

.event {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    padding-bottom: 20px;
}

.event h3 {
    margin-top: 0;
    margin-bottom: 20px;
}

.event h3 a {
    text-decoration: none;
    color: black;
}

.event h4 {
    font-family: 'Gotham SSm',sans-serif;
    font-size: 9px;
    line-height: 1.11111111em;
    letter-spacing: .33333333em;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 1.8em;
    opacity: 1;
    margin-top: 0;
    margin-bottom: 20px
}

.event h4.is-dark {
    color: rgba(0,0,0,.5)
}

.event h4.is-light {
    color: rgba(255,255,255,.7)
}

@media all and (min-width: 1281px) {
   .event {
        max-width:30em
    }
}

.region-about .executive-team .twitter-link {
    color: #000;
    opacity: 1;
    -webkit-transition: opacity 300ms cubic-bezier(.694,0,.335,1);
    -o-transition: opacity 300ms cubic-bezier(.694,0,.335,1);
    transition: opacity 300ms cubic-bezier(.694,0,.335,1);
    -webkit-font-smoothing: antialiased
}

.no-touch.region-about .executive-team .twitter-link:hover {
    opacity: .6
}

/* .region-about .executive-team .twitter-link::before {
    display: inline-block;
    content: url(../svg/twitter-black.svg);
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle
} */