html, body {
    height: 100%;
}

body {
	margin: 0;
	font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

.nice-border {
    border-radius: 32px;
    padding: 16px;
    box-shadow: #eee 0px 0px 12px 6px;
    margin: 16px;
}

.calendar {
    max-width: 90%;
    margin: 0;
}


.image {
    /* Set a specific height */
    height: 500px;
    width: auto;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media all and (max-width: 768px) {
    .image {
        /* Set a specific height */
        width: 100%;
        height: auto;

        background-position: auto;
        background-repeat: auto;
        background-size: auto;
    }
}



.section {
    color: #777;
    background-color: white;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
}

.section > h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

.section > p {
    font-size: 18px;
}

@media all and (max-width: 768px) {
    .section {
        padding: 32px;
    }
}

.quotes {
    margin: 32px;
}

.button {
    background-color: #000d86; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 32px;
    font-size: 16px;
}

.wrapper {
    margin: 64px;
}

.ndc {
    max-width: 30%;
}

.mentor_shpe {
    width: 60%;
}

@media all and (max-width: 768px) {
    .mentor_shpe {
        width: 100%;
    }
    .ndc {
        width: 100%;
    }
}


.events {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 64px;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    float: left;
    font-size: 25px;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #001F5B;
    color: white !important;
}

.nav-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 32px;
}

@media all and (max-width: 768px) {
    .nav-center {
        display: inline-block;
        flex-wrap: wrap;
        margin-bottom: 32px;
    }
}

.header-img {
    max-width: 100%;
    max-width: 40vh;
    margin: 0 auto;
}

.center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

main > .content {
    display: inherit;
    flex: 1 0 auto;
    height: 100%;
    min-height: 100%;
}

.sponsors {
    display: inline-flex;
    flex-wrap: wrap;
}

.sponsor {
    width: 20vw;
}


.sponsor-image {
    width: 15vw;
}

.boxShadow{
    border-radius: 32px;
    box-shadow: 0px 5px 12px 5px #ccc ; 
}



.sponsor-portrait img {
    width: 100%
}

.profile {
    max-width: 100%;
    max-height: 20vh;
    border-radius: 32px;
}

.officer {
    width: 300px;
}

@media all and (max-width: 768px) {
    .officer {
        width: 100%;
    }
}

.officers {
    display: inline-flex;
    flex-wrap: wrap;
}